<VirtualHost *:80>

  DocumentRoot /srv/repo/
  ServerName {{ ansible_hostname }}.int.kronshtadt.ru/

  <Directory />
    Options Indexes MultiViews FollowSymLinks
    AllowOverride None
    Order Deny,Allow
    Require all granted
  </Directory>

  ErrorLog /var/log/apache2/error.log
  TransferLog /var/log/apache2/access.log

</VirtualHost>
